<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="./css/zt.css">
        <link rel="stylesheet" href="./css/vue-list.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.js"></script>
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    </head>
    <style type="text/css">
    	span {
    		display: inline-block;
    		margin: 10px;
    	}
        .show{
            display: block;
        }
        .hide{
            display: none;
        }
        .top ul li.selected {
            color: green;
        }
        .tips .search-select-box span.selected{
            color: green;
        }
    </style>
    <body>
        <div id="main">
        	<div class="top">
        		<ul class="clearfix">
	        		<li class="module" @click="clickGrade" :class="isShowGrade ? 'selected' : ''">{{ grade }}<i></i></li>
	        		<li class="module" @click="clickSubject" :class="isShowSubject ? 'selected' : ''">{{ subject }}<i></i></li>
	        		<li class="module" @click="clickType" :class="isShowType ? 'selected' : ''">{{ teacherType }}</li>
	        	</ul>
	        	<div  v-if="condition" class="tips" :class="isShowAllSelect ? 'show' : 'hide'">
	        		<div class="search-select-box" :class="isShowGrade?'show':'hide'">
	        			<span v-for="item in condition.grade" @click="clickItem(item)" :class="item.isSelected ? 'selected' : ''" class="select-item">{{ item.label }}</span>
	        		</div>
	        		<div class="search-select-box" :class="isShowSubject?'show':'hide'">
	        			<span v-for="item in condition.subject" @click="clickItem(item)" :class="item.isSelected ? 'selected' : ''" class="select-item">{{ item.label }}</span>
	        		</div>
	        		<div class="search-select-box" :class="isShowType?'show':'hide'">
	        			<span v-for="item in condition.type" @click="clickItem(item)" :class="item.isSelected ? 'selected' : ''" class="select-item">{{ item.label }}</span>
	        		</div>
	        	</div>
        	</div>
            <div class="teacher-list">
                <a :href="'zt1-details.html?id='+item.id"  v-for="item in list">
                    <div class="teacher">
                        <img :src="item.image" alt="" class="teacherPhoto">
                        <div class="content">
                            <p><span class="teacher">{{item.name}}</span><span class="green">{{item.subject[0].label}}</span><span class="white">{{item.grade[0].label}}</span><span class="time">已授{{item.teach_time}}课时</span></p>
                            <p class="teach_year">{{item.teach_year}}年教龄</p>
                            <p class="accept"><span><img src="./image/dui.png" alt="" class="logo-dui"></span><span>{{item.type[0].label}}</span></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <script type="text/javascript">
            function getQuery(){
                var str = (location.search.length > 0 ? location.search.substring(1) : ''),
                args = {},
                items = str.length ? str.split("&") : [],
                item = null,
                name = null,
                value = null;
                for (i=0; i < items.length; i++){
                    item = items[i].split("=");
                    name = decodeURIComponent(item[0]);
                    value = decodeURIComponent(item[1]);
                    if (name.length) {
                        args[name] = value;
                    }
                }
                return args;
            }
            var tab = new Vue({
                el:"#main",
                data: {
                    isShowAllSelect: false,
                	condition: null,
                    list: [],
                    grade: '年级',
                    isShowGrade: false,
                    searchGrade: null,
                    subject: getQuery().subject ? getQuery().subject : '学科',
                    isShowSubject:false,
                    searchSubject: null,
                    teacherType: '教师类型',
                    isShowType:false,
                    searchType: null,
                },
                mounted: function(){
                    this.searchSubject = this.getQuery().id;
                    var data = {
                                'subject': this.searchSubject,
                                'offset': 0,
                                'limit': 20
                            }
                	this.getList(data);
                },
                methods: {
                	getQuery:function(){
						var str = (location.search.length > 0 ? location.search.substring(1) : ''),
						args = {},
						items = str.length ? str.split("&") : [],
						item = null,
						name = null,
						value = null;
						for (i=0; i < items.length; i++){
							item = items[i].split("=");
							name = decodeURIComponent(item[0]);
							value = decodeURIComponent(item[1]);
							if (name.length) {
								args[name] = value;
							}
						}
						return args;
					},
                    getList:function(dataObj){
                    	var that = this;
                    	$.ajax({
                    		'url': 'http://api.zhituteam.com/api/teacher/lists',
                    		'type': "get",
                    		'dataType': 'json',
                    		'data': dataObj,
                    		success:function(res){
                    			that.list = res.data.teacher;
                                if(that.condition == null){
                                    res.data.condition.grade.forEach(function(item){
                                        item.isSelected = false;
                                    })
                                    res.data.condition.subject.forEach(function(item){
                                        item.isSelected = false;
                                    })
                                    res.data.condition.type.forEach(function(item){
                                        item.isSelected = false;
                                    })
                                    that.condition = res.data.condition;
                                    that.condition.subject.forEach(function(k){
                                        if(that.searchSubject == k.id){
                                            that.subject = k.label;
                                            k.isSelected = true;
                                            that.isShowAllSelect = false;
                                            that.isShowSubject = true;
                                        }
                                    })
                                }
                    		}
                    	})
                    },
                   clickGrade: function(){
                        this.isShowAllSelect = true,
                        this.isShowGrade = true;
                        this.isShowSubject = false;
                        this.isShowType = false;
                    },
                    clickSubject: function(){
                        this.isShowAllSelect = true,
                        this.isShowGrade = false;
                        this.isShowSubject = true;
                        this.isShowType = false;

                    },
                    clickType: function(){
                        this.isShowAllSelect = true,
                        this.isShowGrade = false;
                        this.isShowSubject = false;
                        this.isShowType = true;
                    },
                    clickItem:function(item){
                        this.condition.grade.forEach(function(t){
                            t.isSelected = false;
                        })
                        this.condition.subject.forEach(function(t){
                            t.isSelected = false;
                        })
                        this.condition.type.forEach(function(t){
                            t.isSelected = false;
                        })
                        item.isSelected = true;
                        this.isShowAllSelect = false;
                        if(this.isShowGrade){
                            this.grade = item.label;
                            this.searchGrade = item.id;
                        }
                        if(this.isShowSubject){
                            this.subject = item.label;
                            this.searchSubject = item.id;
                        }
                        if(this.isShowType){
                            this.teacherType = item.label;
                             this.searchType = item.id;
                        }
                        var data = {
                            'grade': this.searchGrade,
                            'type': this.searchType,
                            'subject': this.searchSubject,
                            'offset': 0,
                            'limit': 20,
                        }
                        this.getList(data)
                    }
                }
            })
        </script>
    </body>
</html>
